<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">The MyCRT Tool</h2>
                <hr class="light">
                <p class="text-faded">MyCRT will capture a MySQL SQL workload and replay it	on a different server with the	exact timing, concurrency, and transaction characteristics of the original workload. This enables customers to test	the	effects	of a system	change without affecting the production system.</p>
                <a href="#" class="btn btn-default btn-xl">Demo</a>
            </div>
        </div>
    </div>
</section>
