<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contact Us!</h2>
                <hr class="primary">
                <a href="http://www.123formbuilder.com/form-3655776/Contact-Lead-Form" ><img border="0" src="https://cdn-main.123contactform.com/images3/contactbutton.gif"></a>
                <p><a href="https://goo.gl/forms/p1Dt2TocQeLgeAyy2" "class=btn btn-default btn-xl">Bug Report</a> </p>
                <p><a href="https://goo.gl/forms/FxOPxpVwyFRr4U1l1" "class=btn btn-default btn-xl">Feedback Survey</a> </p>
                <p><a href="https://teamtitans.gitbook.io/project/licensing/privacy-policy" "class=btn btn-default btn-xl">Privacy Policy</a> </p> 
                <p> <a href="https://teamtitans.gitbook.io/project/licensing/eula" "class=btn btn-default btn-xl">EULA</a> </p>
            </div>

    </div>
</section>
