<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">The MyCRT Tool</h2>
                <hr class="light">
                <p class="text-faded">Questions? Comments? Email us at teamtitansaws@gmail.com.</p>
                <p class="text-faded"><a href="https://goo.gl/forms/p1Dt2TocQeLgeAyy2" "class=btn btn-default btn-xl">Bug Report</a> </p>
                <p class="text-faded"><a href="https://goo.gl/forms/FxOPxpVwyFRr4U1l1" "class=btn btn-default btn-xl">Feedback Survey</a> </p>
                <p class="text-faded"><a href="https://teamtitans.gitbook.io/project/licensing/privacy-policy" "class=btn btn-default btn-xl">Privacy Policy</a> </p> 
                <p class="text-faded"> <a href="https://teamtitans.gitbook.io/project/licensing/eula" "class=btn btn-default btn-xl">EULA</a> </p>
            </div>
    </div>
</section>
