<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Open Source Software Used</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>Mockito</h3>
                    <p class="text-muted"> <a href="https://github.com/mockito/mockito/wiki/License">MIT</a> </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>Json-Simple</h3>
                    <p class="text-muted"> <a href="https://github.com/fangyidong/json-simple/blob/master/LICENSE.txt">Apache</a> </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>AWS-SDK-Java</h3>
                    <p class="text-muted"> <a href="https://github.com/fangyidong/json-simple/blob/master/LICENSE.txt"> License </a> </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>SQLite JDBC</h3>
                    <p class="text-muted"> <a href="https://bitbucket.org/xerial/sqlite-jdbc">Apache</a> </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>Spring-boot</h3>
                    <p class="text-muted"> <a href="https://github.com/spring-projects/spring-boot/blob/master/LICENSE.txt">Apache</a> </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>JQuery</h3>
                    <p class="text-muted"> <a href="https://jquery.org/license/">MIT</a> </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>Bootstrap</h3>
                    <p class="text-muted"> <a href="https://getbootstrap.com/docs/4.0/about/license/">MIT</a> </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>Google API JS Client</h3>
                    <p class="text-muted"> <a href="https://github.com/google/google-api-javascript-client/blob/master/LICENSE">Apache</a> </p>
                </div>
            </div>
        </div>
    </div>
</section>
